body {
	background-color: #ddd7d0;
	color: #444545;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}

h1, h2, h3 {
	margin-top: :0.5em;
	margin-bottom:0.5em;
	font-weight:600;
}

hr {
	margin-top: 0;
	margin-bottom: 0;
	background-color: black;
}

.card-custom {
	z-index: 100;
	top: -4.5em;
	display: inline-block;
    float: none;
    background-color: transparent;
}
/*
.ekko-lightbox-nav-overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ekko-lightbox-nav-overlay a {
	flex: 1;
	display: flex;
	align-items: center;
	opacity: 0;
	transition: opacity .5s;
	color: #fff;
	font-size: 30px;
	z-index: 1;
	flex-grow: 1;
}

.ekko-lightbox-nav-overlay a span{
	padding: 0 30px;
	flex-grow: 1;
	text-align: right;
	pointer-events: none;
}
*/
.card-img-overlay-custom {
	position: absolute;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color:rgba(0, 0, 0, 0.5);
}

.card-text-custom {
	margin-bottom: 0;
	margin-left: 4px;
	font-size: 18px;
	color: white;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 2);
}

#servicii {
	background-color: #d7d0c8;
	padding-top: 65px;
    margin-top: -65px;
    background-clip: content-box;
}

.servicii-text {
	font-size: 1.2em;
}

#galerie {
	background-color: #ddd7d0;
	background-clip: content-box;
}

.rounded-circle {
	box-shadow: -2px -1px 3px 1px rgba(0, 0, 0, 0.7);
}

#materiale {
	background-color: #d7d0c8;
	padding-top: 90px;
    margin-top: -150px;
    background-clip: content-box;
}

#comenzi-speciale {
	background-color: #ddd7d0;
	padding-top: 90px;
    margin-top: -90px;
    background-clip: content-box;
}

#galerie-foto {
	background-color: #ddd7d0;
}

.img-galerie {
	padding: 2px 2px;
}

#cruci-marmura, #monumente-granit, #monumente-unicat {
	padding-top: 90px;
	margin-top: -90px;
	background-clip: content-box;
}

#contact {
	background-color: #ddd7d0;	
}

/* Navbar */
.navbar-custom {
	z-index: 200;
	background-color: #353e44;
}

.navbar-brand {
	font-size: 1.6rem;
}

@media (max-width: 768px) {
	.navbar-brand {
		font-size: 1.2rem;
	}
}


.navbar {
	padding-top: 18px;
	padding-bottom: 18px;
	font-size: 1rem;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	transition: all 0.15s;
}

.navbar.compressed {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.95rem;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

/* Parallax */
@media (min-width: 768px) {
	.parallax {
		background-attachment:fixed;
	}
}

.parallax {
    height: 65vh;
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

.parallax-1 {background-image: url("img/parallax_1.jpg");filter: grayscale(70%);}

.parallax-2 {background-image: url("img/parallax_2.jpg");}

/* Footer */
.main-footer {
	background-color: #3f3e3d;
	color: #d7d0c8;
}

footer{
	background-color: #606166;
	color: #d7d0c8;
}

.info-contact {
	margin-bottom: 0.5rem;
	font-size:0.9em;
}

.info-contact-icon {
	width:2.2rem;
}

.footer-text {font-size: 0.7rem;}

.footer-links {color: #fff;}

.footer-servicii {font-size: 0.7em;}

.footer-links:hover {color: #d7d0c8;}

